@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=UnifrakturMaguntia&display=swap');


:root{
    --Farba-hlavicky: #43357A;
    --Farba-paty: #4F4F6B;
    --Farba-boxov: #BFABCF;
    --Farba-tlacidiel: #DFE0F7;
    --Farba-nadpisov: #FBFF00;
    --Farba-oramovania: #526282;
    
    
    --medzera-s: 1rem;
    --medzera-m: 1.5rem;
    --medzera-l: 2rem;
    --medzera-xl: 3rem;

    --font-nadpis: 'Metamorphous', sans-serif;
    --font-body: 'Taviraj', sans-serif;
}

h1, h2, h3, h4{
    color: var(--Farba-nadpisov);
    font-family: var(--font-nadpis);
}

body {
    margin: 0;
    height: 100vh;

    background-image: url("../images/pozadie.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.header-obsah{
    background-color: var(--Farba-hlavicky);
}

p{
    color: whitesmoke;
    font-family: var(--font-body);
}

nav{
    display: none;
    color: var(--Farba-nadpisov);
    font-family: var(--font-nadpis);
}

img{
    width: 300px;
    height: auto;
}

div{
    background-color: var(--Farba-boxov);
    outline-color: var(--Farba-oramovania);
    gap: var(--medzera-l);
}

.portfolio{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--medzera-m);
    text-align: center;
}

.logo{
    height: 50px;
    width: auto;
}

footer{
    background-color: var(--Farba-paty);
    display: grid;
    grid-template-columns: 3fr;
    gap: var(--medzera-m);
}

@media (min-width: 768px) {
    .nav__zoznam{
        display: show;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}